@import "./variables.scss";

.infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  height: 3em;

  .infoTextWrapper {
    text-align: left;
    min-width: min-content;

    .text {
      margin: 0;
      color: $very-light-grayish-cyan;
      font-size: 20px;
    }

    .personLabel {
      color: $dark-grayish-cyan;
      font-size: 18px;
    }
  }

  .value {
    font-size: 36px;
    color: $strong-cyan;
  }

  @media (width: $mobile) {
    margin-bottom: 1em;

    .infoTextWrapper {
      min-width: min-content;
      .text {
        font-size: 16px;
      }

      .personLabel {
        font-size: 14px;
      }
    }

    .value {
      font-size: 26px;
    }
  }
}
