@import "./variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto 0;
}

.labelWrapper {
  display: inline-flex;
  justify-content: space-between;
}

@mixin label {
  font-size: 20px;
  margin-left: 5px;
  color: $dark-grayish-cyan;
  @include mobileFont;
}

.label {
  @include label;
}

.error {
  color: orange;
}

.inputWrapper {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;

  i {
    height: 45px;
    width: 20px;
    position: absolute;
    margin-left: 10px;

    &.bill {
      background: url("../assets/icon-dollar.svg") no-repeat center;
    }
    &.people {
      background: url("../assets/icon-person.svg") no-repeat center;
    }
  }

  @mixin input {
    text-align: end;
    border: none;
    height: 45px;
    border-radius: 5px;
    color: $dark-grayish-cyan;
    font-size: 24px;
    outline-color: $strong-cyan;
    width: 100%;
    background-color: $very-light-grayish-cyan;
    padding-right: 10px;
    box-sizing: border-box;

    /* Firefox */
    -moz-appearance: textfield;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .input {
    @include input;
  }

  .errorInput {
    @include input;

    outline-color: orange;
    border: 2px solid orange;
  }
}
