@import "./variables.scss";

@mixin button {
  height: 45px;
  width: 30%;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: $very-light-grayish-cyan;
  cursor: pointer;
  box-sizing: border-box;
  font-family: SpaceMonoBold, sans-serif;

  @media (width: $mobile) {
    width: 48%;
  }
}

.inactiveButton {
  @include button;
  background-color: $very-dark-cyan;

  &:hover,
  &:active {
    background-color: $light-grayish-cyan;
    color: $very-dark-cyan;
  }
}

.activeButton {
  @include button;
  background-color: $strong-cyan;
  color: $very-dark-cyan;
}
