@import "./components/variables.scss";

.app-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    color: $very-dark-cyan;
    margin: 5px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.3em;

    &:last-of-type {
      margin-bottom: 3em;
    }
  }

  @media (width: $mobile) {
    display: flex;
    align-items: center;
    justify-content: unset;

    span {
      margin: 5px;

      &:first-of-type {
        margin-top: 1.5em;
      }

      &:last-of-type {
        margin-bottom: 1.5em;
      }
    }
  }
}
